<html>
<title>看團好朋友</title>
   <body>
	<h1>看團好朋友</h1>
    <h2>不能喝的好朋友系列</h2>
      <form action = "http://localhost:7000/output" method = "POST">
         <p>演出者名稱 <input type = "text" name = "player_name" /></p>
         <p>地區 <input type = "text" name = "area" /></p>
         <p>演出日期 <input type = "text" name = "start_date" /></p>
         <p>票價 <input type ="text" name = "price" /></p>
         <p><input type = "submit" value = "找音樂祭" /></p>
      </form>
      
   </body>
</html>